:root {
	font-family: Arial, sans-serif;
	line-height: 1;
	font-weight: 300;
	background-color: #ffffff;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0px;
}

.container {
	max-width: 1800px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

#headertitle {
	height: 120px;
	background-color: #5392cb;
}

#ochalogo {
	float: left;
	margin-left: 10px;
	margin-top: 15px;
}

h1 {
	font-weight: 300;
	color: #418fde;
	font-size: 36px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
}

h2 {
	font-weight: 300;
	color: darkslategray;
	font-size: 28px;
	margin-bottom: 10px;
	margin-top: -8px;
}

h3 {
	font-weight: 300;
	color: darkslategray;
	font-size: 24px;
	margin-bottom: 0px;
	margin-top: -10px;
	text-align: center;
}

.containertext {
	font-size: 16px;
	margin-bottom: 6px;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	color: #555;
	line-height: 1.4;
}

a {
	color: #418fde;
}

a:hover {
	color: darkblue;
}

svg {
	background-color: #f8f5fa;
}
